.Button {
  font-size: 0.8rem;
  font-weight: 700;
  align-self: center;
  border-color: transparent;
  padding: 0.5rem 1.2rem;
  margin-left: 0.2rem;
  margin-right: 0.2rem;
  color: #fff;
}

.Button:hover {
  opacity: 0.8;
  border-color: transparent;
  cursor: pointer;
}

.Main {
  background: #02be3a;
}

.Main:hover,
.Main:hover:active,
.Main:active,
.Main:focus {
  background: #f78215 !important;
}

.CommentButton {
  background: #f78215;
  color: #fff;
}

.CommentButton:hover {
  scale: 1.05;
  color: #fff;
}

.SaveButton {
  background: #02be3a;
}

.SaveButton:hover,
.SaveButton:hover:active,
.SaveButton:active,
.SaveButton:focus {
  background: #079531 !important;
}
