.DropdownItem {
    display: inline-block;
    max-width: 50%;
    padding: 0px;
  }

  .DropdownItem:active {
    background: #8224e5 !important;
  }
  .Absolute {
    position: absolute;
    right: 0;
    z-index: 99;
  }