.PlansTitle {
  background: #f78215;
  font-weight: 700;
  color: #030230;
}
.PlansDate{
  
  font-weight: 600;
}

.PlansDivider {
  background: #8224e5;
}

.Until {
  color: rgb(146, 2, 2);
  font-weight: 600;
}

.DescRow {
  flex-direction: column;
}
