* {
  transition: all ease-in-out 0.3s;
  box-sizing: border-box;
}

.App {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  background-color: #f8f8f8;
  min-height: 100vh;
  color: #5d4d4d;
}

.MainContainer {
  padding-top: 5.2rem;
}

a {
  color: #5d4d4d;
}

a:hover,
a:hover i {
  text-decoration: none;
  color: #f78215;
}

input[type="file"] {
  display: none;
}

.Content {
  background-color: #ffffff;
  padding: 10px;
  border-radius: 2px;
  border: 1px solid #dadadf;
  box-shadow: inset 0px 0px 62px -20px #00fa4b;
  
}

.Content:hover {
  box-shadow: inset 0px 0px 62px -20px #8224e5;
}

.Image {
  max-height: 40vh;
  max-width: 100%;
  object-fit: contain;
}

i {
  padding: 7px;
  vertical-align: middle;
}

i:hover {
  cursor: pointer;
  transition: color ease-in-out 0.3s;
}

@media screen and (max-width: 504px) {
  .MainContainer {
    padding-top: 7.8rem;
  }
}


@media screen and (max-width: 333px) {
  .MainContainer {
    padding-top: 8.5rem;
  }
}